body {
    /* font-family: Arial, sans-serif; */
    font-family: "Myriad Pro Semibold SemiCondensed";
    margin: 0;
    padding: 0;
    text-align: center;
}
/* HEADER */
.header {
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    color: white;
}


.logo-svg {
    width: 180px;
    cursor: default;
}

/* Base text */
.glitch-text {
    font-size: 42px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    fill: white;
}

/* Glitch layers */
.glitch1 {
    fill: #ff00ff;
    animation: glitch1 1.5s infinite;
}

.glitch2 {
    fill: #00ffff;
    animation: glitch2 1.5s infinite;
}

/* MAIN stays stable */
.main {
    fill: white;
}

/* ANIMATIONS */
@keyframes glitch1 {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, -2px); }
    40% { transform: translate(2px, 2px); }
    60% { transform: translate(-1px, 1px); }
    80% { transform: translate(1px, -1px); }
    100% { transform: translate(0); }
}

@keyframes glitch2 {
    0% { transform: translate(0); }
    20% { transform: translate(2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(1px, -1px); }
    80% { transform: translate(-1px, 1px); }
    100% { transform: translate(0); }
}

/* NAV */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: orange;
}

/* RIGHT SECTION */
.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* SEARCH */
.search-box input {
    width: 40vw ;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    /* font-size: 16px; */
}

/* CART */
.cart {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 22px;
    cursor: pointer;
}






















.hero {
    /* border: 2px solid rgb(123, 255, 0); */
    border-radius: 15px;
    position: relative;
    height: 40vh;
    /* height: 400px; */
    /* width: 1800px; */
    width: 100%;
    /* margin: 0 auto; */

    /* Background */
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), */
                /* url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092'); */
                /* url('../assets/gettyimages-109690344.jpg'); */

    /* background-size: cover;
    background-position: center; */

    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}
/* SLIDER CONTAINER */
.hero-slider {
    /* border: 2px solid rgb(233, 7, 7); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* EACH IMAGE */
.hero-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer;
}
/* ACTIVE IMAGE */
.hero-slider img.active {
    opacity: 1;
}
.hero-content {
    /* border: 2px solid green; */
    position: relative;
    z-index: 2;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
    /* color: violet; */
}

/* CTA BUTTON */
.cta-btn {
    /* position: absolute;
    top: 200px;
    left: 0px; */
    /* transform: translate(-50%, -50%); */
    padding: 10px 60px;
    background: orange;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    background: white;
}

/* HEADING */
.hero h1 {
    /* font-size: 3rem;
    margin-bottom: 15px; */
}

/* SUBTEXT */
.hero p {
    /* font-size: 1.2rem;
    margin-bottom: 20px; */
}

.hero::before {
    /* content: ""; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: rgba(0,0,0,0.4); */
    /* z-index: 1; */
}
/* SLIDER BUTTONS */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(0,0,0,0.4);
    color: white;

    border: none;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    font-size: 24px;

    cursor: pointer;

    z-index: 10;

    transition: 0.3s;
}

/* Hover */
.slider-btn:hover {
    background: rgba(0,0,0,0.7);
}

/* LEFT */
.prev {
    left: 20px;
}

/* RIGHT */
.next {
    right: 20px;
}

.auth-buttons
{
    display: flex;
    gap: 10px;
}

.logout-btn
{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    background: crimson;
    color: white;

    display: none;
}

.logout-btn:hover
{
    opacity: 0.9;
}
.login-btn
{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    background: crimson;
    color: white;

    display: none;
}

.login-btn:hover
{
    opacity: 0.9;
}


























.categories {
    /* border: 2px solid rgb(255, 0, 0); */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* gap: 30px; */
    padding: 40px 0px;
}
.category-list {
    /* border: 2px solid rgb(0, 255, 0); */
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}
.category-item {
    /* border: 2px solid rgb(0, 0, 255); */
    /* padding: 20px; */
    /* width: 200px; */
    /* height: 200px; */
    /* background: #f0f0f0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transition: 0.3s;
    cursor: pointer;
}
.category-item:hover {
    transform: scale(1.05);
}
.category-item img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    /* margin-bottom: 10px; */
}
.category-item p {
    /* max-width: 10px; */
    text-align: center;

}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}










.products {
    /* border: 2px solid rgb(0, 255, 0); */
    /* padding: 10px 10px; */
    /* background-color: rgb(246, 246, 246); */
}

.product-grid {
    /* border: 2px solid rgb(0, 0, 255); */
    width: 82%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    justify-content: center;
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    gap: 10px;
    padding: 10px;
    /* background-color: rgb(246, 246, 246); */
    border-radius: 15px;
}

/* CARD */
.product-card {
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px;
    /* transition: 0.3s; */
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.1); */
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px 0px;
    cursor: pointer;
    /* text-align: center; */
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card:hover {
    /* transform: scale(1.05); */
}

/* IMAGE */
.product-card img {
    /* width: 100%; */
    height: 150px;
    width: 150px;
    object-fit: contain;
    /* background: white; */
    border-radius: 10px;
}

/* TITLE */
.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

/* PRICE */
.product-card p {
    color: orange;
    font-weight: bold;
}

/* BUTTON */
.product-card button {
    margin-top: 10px;
    padding: 8px;
    /* width: 100%; */
    border: none;
    border-radius: 10px;
    background: #ffb83c;
    cursor: pointer;
}
.price_and_cart {
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



















.product-detail {

    width: 80%;
    margin: 40px auto;

    display: flex;
    gap: 40px;

    background: rgb(246,246,246);

    padding: 30px;

    border-radius: 20px;
}

/* IMAGE */
.product-image img {

    width: 350px;
    height: 350px;

    object-fit: contain;

    background: white;

    border-radius: 15px;
}

/* INFO */
.product-info {

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
}


/* CART PAGE */

.cart-page{

    width: 80%;

    margin: 40px auto;
}

.cart-item{

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    background: rgb(246,246,246);

    padding: 20px;

    border-radius: 15px;

    margin-bottom: 20px;
}

.cart-item img{

    width: 120px;
    height: 120px;

    object-fit: contain;

    background: white;

    border-radius: 10px;
}

.cart-info{

    flex: 1;

    text-align: left;
}

.cart-quantity{

    display: flex;

    align-items: center;

    gap: 10px;
}

.cart-quantity button{

    width: 35px;
    height: 35px;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

.remove-btn{

    background: red;

    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 10px;

    cursor: pointer;
}

.cart-summary{

    margin-top: 30px;
}

#checkoutBtn,
.continue-btn{

    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    margin: 10px;
}











#detailPrice {

    color: orange;

    font-size: 28px;

    font-weight: bold;
}

.quantity-box{
    display: flex;
    align-items: center;
    gap: 15px;

    margin: 20px 0;
}

.quantity-box button{
    width: 40px;
    height: 40px;

    font-size: 22px;

    cursor: pointer;

    border: none;
    border-radius: 8px;
}

#quantity{
    font-size: 22px;
    font-weight: bold;
}

.total-price{
    margin-bottom: 20px;
}


#addToCartBtn {

    width: 200px;

    padding: 12px;

    border: none;

    border-radius: 12px;

    background-color: rgb(255, 184, 60);

    cursor: pointer;

    font-size: 18px;
}

#cartMessage{

    color: green;

    font-weight: bold;

    margin-top: 15px;

    opacity: 0;

    transition: 0.3s;
}








.auth-section{

    min-height: 80vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

.auth-container{

    width: 400px;

    background: rgb(246,246,246);

    padding: 30px;

    border-radius: 20px;
}

.auth-container form{

    display: flex;

    flex-direction: column;

    gap: 15px;
}

.auth-container input{

    padding: 12px;

    border-radius: 10px;

    border: 1px solid #ccc;
}

.auth-container button{

    padding: 12px;

    border: none;

    border-radius: 10px;

    background: orange;

    cursor: pointer;
}

.auth-toggle{

    display: flex;

    gap: 10px;

    margin-bottom: 20px;
}

.hidden-form{

    display: none !important;
}

.password-box{

    position: relative;
}

.toggle-password{

    position: absolute;

    right: 15px;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;
}

.error-msg{

    color: red;

    font-size: 14px;
}

#strengthText{

    font-size: 14px;

    font-weight: bold;
}





















footer{
    margin-top: 40px;
    /* width: 55%; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px ;
    /* border: 2px solid rgb(0, 255, 0); */
    background-color:rgb(246, 246, 246);
    color: black;
    /* padding: 20px 0; */
}
.footdown
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social-icons {
    object-fit: contain;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.social-icons img {
    width: 40px;
    height: 40px;
}
/* Tablet */
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* MOBILE */
@media (max-width: 768px)
{

    .nav {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        background: #222;
        transition: 0.3s;
    }

    .nav-links {
        flex-direction: column;
        padding: 20px;
    }

    .nav.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: block;
    }
        .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-btn {
        padding: 8px 16px;
    }

    .product-detail {

        flex-direction: column;

        align-items: center;
    }

    .product-image img {

        width: 250px;
        height: 250px;
    }

    .product-info {

        text-align: center;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
    .auth-container{

        width: 90%;
    }
}